.projectsContainer {
    width:100%;
    height:120vh;

    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.visible {
  animation: slideInFromLeft 1s ease-out forwards;
}


@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.fullProjects {
    width:100%;
    height: 40vh;

    display: grid;
}
.fullProjects h2, .templates h2 {
    font-size: 1.65em;
    font-weight: 400;
    color:orange;
    height:5vh;

    text-align: center;

}
.projects1 {
    height: 35vh;
    width:100%;
    display: flex;
    gap: 5vw;
}
.project {
    flex: 1;
    height:100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.templates {
    margin-top: 10vh;
    height:70vh;
    width:100%;
    display: grid;
   
}
.projects2 {
    width:100%;
    height:70vh;

    display: grid;

}
@media (max-width: 1020px) {
    .projectsContainer {
        height:85vh;
    margin-top: 10vh;

    }
    .fullProjects {
        width:100%;
        height: 28vh;

    }
    .fullProjects h2 {
        height: 3.5vh;
        
    }

    .projects1 {
        height:24.5vh;
        width:100%;
        display: flex;
        gap: 5%;
    }
    .templates {
        margin-top: 5vh;
        height:52vh;

    }
    .projects2 {
        height: 50vh;
    }
}