.qualificationContainer {
  width: 100%;
  height: 130vh;
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  transform: translateX(0%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.visible {
  animation: slideInFromLeft 1s ease-out forwards;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.qualificationIntroduction {
  height: 20vh;
  width: 100%;
}
.qualificationIntroduction h2 {
  font-size: 2em;
  height: 30%;
  color: orange;
}
.qualificationIntroduction h3 {
  width: 100%;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 2em;
}
.techStack {
  width: 100%;
  height: 18vh;
  display: flex;

  align-items: center;
  gap: 2.5%;
}
.techStack h1 {
  font-size: 6em;
  width: 12.5%;
  display: flex;
  justify-content: center;

  color: orange;
}
.techStackInfo {
  width: 85%;
  height: 65%;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: 550;
}
.techStackLanguages {
  width: 100%;
  height: 102vh;

  display: grid;
  color: black;
}
.techStackLogos {
  width: 100%;
  height: 51vh;
}
.techStackLogosBackend {
  width: 100%;
  height: 33.575vh;
}
.techStackLogos h2,
.techStackLogosBackend h2 {
  font-size: 1.25em;
  color: #ffa500;
  font-weight: 400;
  height: 12.5vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.languages {
  width: 80%;
  height: 34.85vh;
  margin-left: 10%;
  display: grid;
  grid-template-rows: 47.5% 47.5%;
  grid-template-columns: repeat(4, 1fr);

  row-gap: 5%;
  column-gap: 2.5%;
}
.languagesBackend {
  width: 80%;
  height: 17.425vh;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  grid-template-rows: 100%;

  gap: 2.5%;
  justify-content: space-between;
}
.lang {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 30%;

  color: white;
  font-size: 1.2em;
  justify-content: center;
}
.lang h4 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.lang img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} /* MySkills.module.css */

.skills {
  width: 100%;
  height: 90vh;
  margin-top: 20vh;
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.visibleSkills {
  animation: slideInFromLeftSkills 1s ease-out forwards;
}

@keyframes slideInFromLeftSkills {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.skills h2 {
  height: 10vh;
  font-size: 2em;
  color: orange;
}
.carousel {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2.5%;
  row-gap: 2.5%;
}
.skillItem {
  width: 100%;
  border: solid 1px transparent;
  color: white;
  height: 100%;

  display: flex;
  flex-direction: column;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  box-sizing: border-box;
}

.skillItem:nth-of-type(1),
.skillItem:nth-of-type(3),
.skillItem:nth-of-type(5) {
  border: solid 2px orange;
}
.imageSkill {
  width: 20%;
  height: 40%;
  display: flex;

  align-self: center;
  align-items: flex-end;
}

.imageSkillInfo {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillItem h4 {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-size: 1.75em; /* Responsive font size using vw units */
  font-weight: 500;
  line-height: 1.2; /* Adjust line-height to better fit text */
  overflow: hidden; /* Ensure any overflow is hidden */
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}

.skillItem h5 {
  margin-top: 5%;
  width: 85%;
  text-align: center;
  justify-self: center;
  font-size: 1em;
  font-weight: 350;
}
.imageSkill img {
  object-fit: contain;
  max-width: 100%;
  height: 50%;
  align-self: flex-end;
}
@media (max-width: 1300px) {
  .skillItem h5 {
    font-size: 0.9em;
  }
  .skillItem h4 {
    font-size: 1.35em;
  }
}
@media (max-width: 1020px) {
  .qualificationContainer {
    margin-top: 20vh;
    height: 100vh;
  }
  .qualificationIntroduction {
    height: 14vh;
    width: 100%;
  }
  .qualificationIntroduction h2 {
    font-size: 1.25em;
  }
  .qualificationIntroduction h3 {
    font-size: 0.75em;
    width: 100%;
  }
  .techStack {
    height: 12.6vh;
  }
  .techStack h1 {
    font-size: 4.25em;
  }
  .techStackInfo {
    font-size: 1em;
  }
  .techStackLanguages {
    height: 60vh;
  }
  .techStackLogos h2,
  .techStackLogosBackend h2 {
    font-size: 1em;
    height: 8.75vh;
  }
  .techStackLogos {
    height: 36vh;
  }
  .languages {
    height: 25.395vh;
  }
  .languages h4,
  .languagesBackend h4 {
    font-size: 0.85em;
  }
  .languagesBackend {
    height: 12.1975vh;
  }
  .skills {
    height: 65vh;
    margin-top: 5vh;
  }
  .skills h2 {
    height: 7vh;
    font-size: 2em;
  }
  .carousel {
    height: 56vh;
  }
  .skillItem h4 {
    font-size: 1em; /* Responsive font size using vw units */
  }
  .skillItem h5 {
    font-size: 0.75em;
  }
}
@media (max-width: 900px) {
  .skillItem h5 {
    font-size: 0.625em;
  }
}
@media (max-width: 650px) {
  .techStack h1 {
    font-size: 3em;
  }
  .techStackInfo {
    font-size: 0.85em;
  }

  .skills {
    height: 192.5vh;
  }
  .skills h2 {
    height: 12.5vh;
    text-align: center;
    font-size: 3.5em;
  }

  .carousel {
    height: 180vh;
    display: flex;
    flex-direction: column;
  }
  .skillItem {
    height: 30vh;
    width: 70%;
    align-self: center;
    border: solid 1px transparent;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    box-sizing: border-box;
  }
  .imageSkill {
    width: 20%;
    height: 40%;
  }

  .imageSkillInfo {
    height: 60%;
  }

  .skillItem h4 {
    font-size: 1.275em; /* Responsive font size using vw units */
  }

  .skillItem h5 {
    font-size: 0.7em;
  }
}

